#VERCEL="1"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="L0i20XSPxjV2BDZkawNWNisuv3StheT6+di9TrLGMZCl"
NEXTAUTH_SALT="L0i20XSPxjV2BDZkawNWNisuv3StheT6"
#AUTH_TRUST_HOST=true

DATABASE_URL="postgresql://postgres:tuna213@database:5432/postgres?schema=public"
